[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "banks/derbanka"]
	path = banks/derbanka
	url = https://github.com/patrickdowling/derbanka.git
