name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: submodules
      run: git submodule update --init --recursive

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade asfv1

    - name: make
      run: make -j4 tests tools

    - name: run tests
      run: make runtests

    - name: generate test wavs
      run: make wavs

    - name: run other tools
      run: |
        ./build/fv1_dump -f ./build/tests/test_nop.bin
        for i in $(seq 0 7) ; do ./build/fv1_dump -f ./banks/wav_tests/build/wav_tests.bank -p $i -n ; done

    - name: copy artifacts
      uses: actions/upload-artifact@v3
      with:
        name: fv1vm-testwavs
        path: |
          ./build/wav/*.wav
